<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <title>Course MEAN by Laisson</title>
</head>
<body ng-controller="MoviesController">
    <h1>Welcome to course of MEAN Stack - Movies</h1>

    <p>{{movie}}</p>

    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/MoviesController.js"></script>
</body>
</html>